# Python compilation files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
.env

# Mac OS specific
.DS_Store

# VS Code settings
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Pytest cache
.pytest_cache/

# Streamlit secrets
.streamlit/secrets.toml
frontend/.streamlit/secrets.toml
**/.streamlit/secrets.toml